/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/* COMMUN */


body{
  font-size:15px;
  line-height: 150%;	
  font-family: 'linux_libertine_mono_omono', courier new, monospace;
}

.prev, .next{
  position: fixed;
  bottom:0;
  z-index: 2;
}
.prev{
  left: 0;
}
.next{
  right: 0;
}

/* FEUILLE DE STYLE SOLIDE */

#solide{
  width:50%;	
  padding-left:1px;
  padding-right:10px;
}
#solide .parts{
  background: #eee;
}
#solide .chapitre, nav {
  /*	min-height:100vh;*/
}
#solide .chapitre.current {
  display:block;
}

#solide h1, #solide .H1{
  margin-left:0px;
  color:red;	
}

#solide h2, #solide .H2{
  margin-left:50px;
}

#solide h3, #solide .H3{
  margin-left:100px;
}

#solide p{
  margin-left:150px;
  text-align:justify;
}

#solide img{
  width:500px;
  border-width:1px;
  border-style:solid;
  border-color:black;	
}

/* FEUILLE DE STYLE FLUIDE */

#fluide{
  font-family: arial, sans-serif;
  position:fixed;
  top:0px;
  right:0px;
  width:50%;
  height:100%;	
  background-color:grey;	
  overflow-y:scroll;
}

#fluide .bubble{
  font-size:20px;
  position:absolute;
  padding:50px;
  display:none;
  opacity: 0;
  color:white;
  width:300px;
  background: #777;
  transform-origin: center;
  border:2px solid yellow;
  border-radius:400px;
}

#fluide .bubble.shown{
  display: block;
}
#fluide .bubble .text{
  height:30px;
}

#fluide .bubble header{	
  padding:2px;
  cursor:pointer;
  color:white;	
}

#fluide .bubble footer{	
  padding:2px;
}


#fluide .bubble-link{	
  background-color:yellow;
  color:grey;	
}

#fluide .bubble-img{	
  background-color:#D3D3D3;
  color:black;	
}

#fluide .bubble .inner{
  display:none;
}

#fluide .bubble.opened .inner{
  display:block;
}














