/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* COMMUN */

html, body{
  height:100%;
}


nav#bottom{
  background-color: #f2f2f2;  
  width:48%;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 110;
}
.prev, .next, .home{
  color: red;
  position: fixed;
  z-index: 1000;
  padding:4px;
  font-size: 17px;
  font-family: 'linux_libertinesemibold', 'arial';
  cursor:pointer;
  height:30px;
}
.home{
  right:52%;
  top: 0;
  padding: 4px;
  line-height: 150%;
}
.home a{
  text-decoration: none;
  color: red;

}
.prev{
  bottom:0px;
  left:0px;
  background:#f2f2f2;
  width:24%;
}
.next{
  bottom:0px;
  right:50%;
  text-align: right;
  background:#f2f2f2;
  width:26%;
  margin-right:20px;
}

/* FEUILLE DE STYLE SOLIDE */

.cycle-slideshow{

}
#solide{
  background-color:#f2f2f2;
  min-height:100%;
  width: 50%;
}

#solide .chapitre{
  overflow-y: auto;
  height: 100vh;
  background-color:#f2f2f2;
  padding-top:35px;
  padding-left:1px;
  padding-right:20px;
  padding-bottom: 24px; 
  font-size: 17px;
  line-height: 150%;
  font-family: 'linux_libertinesemibold', 'arial';
}

#solide .chap-inner{
  padding-bottom:24px;
  overflow-x:hidden;
}

#solide .chapitre.current {
  display:block;
}

#solide h1, #solide .H1{
  margin-left:0px;
  color:red;
}

#sommaire{
  height:100%;
}

#open-source{
  display:none;
}

#solide h1{
  display:none;
}

#solide aside a{
  color:black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

#solide aside a:hover{
  color:red;
  border-bottom: 2px solid red;
} 

#solide h7 a{
  color:black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

#solide h7 a:hover{
  color:red;
  border-bottom: 2px solid red;
} 

#solide .opened *{
  display:none;
}

#solide .opened .parts, #solide .opened .parts li{
  display:block;
}

#solide .parts{
  position:fixed;
  top:0px;
  left:0px;
  padding:4px;
  width:48%;
  background: #f2f2f2;
}

#solide .parts li {
  display:none;
}

#solide .parts li.H1{
  display:block;
  cursor:pointer;
  display: inline;
}

#solide .opened .parts{
  min-height:100%;
}
/*Importe du css-print*/


#solide h2, #solide .H2{ margin-left:40px;
}

#solide h3, #solide .H3{ margin-left:80px;
}

#solide h4, #solide .H4{ margin-left:120px;
}

#solide h5, #solide .H5{ margin-left:120px;
}

aside{ 
    margin-left:200px;
    margin-bottom: 20px;
	font-family: 'whoismono', 'courier', monospace;
    font-size: 15px;
    line-height: 130%;
    text-overflow:ellipsis;
    overflow:hidden;
}

h7{ margin-left:0px;
	font-family: 'whoismono', 'courier', monospace;	
    margin-bottom:0.35cm;
    display:block;
    width:450px;
    font-size: 15px;
    line-height: 130%;
}

em{ font-family: 'whoismono', 'courier', monospace;
	margin-bottom:2px;
}

h7 em{
  font-family: 'whoismono', 'courier', monospace;
  font-style:oblique;
}

aside em{
  font-family: 'whoismono', 'courier', monospace;
  font-style:oblique;
}


#solide p{ margin-left:160px;
	text-align:justify;
	orphans:3;
	widows:2;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
    hyphens: auto;
    
}

img{
    margin-top:5px;
	width:450px;
    display:block;
}

.imgborder{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-bottom: 5px;

}

.pagegrise{
    width:100%;
    height:20cm;
  	page-break-after: always;
    page-break-before: always;
}

#extra h2{ 
   padding-top: 15cm;
  display: block;
}

#manifeste p{
    margin-left:10px;
    border: 1px solid black;
    padding:0.3cm;
    font-size:25px;
  	line-height: 135%;
    text-align: center;
}

#manifeste h2{
    margin-left:10px;
    margin-bottom:0.5cm;
    padding:0.5cm;
    font-size:25px;
  	line-height: 135%;
    text-align: center;
}


aside u{
    text-decoration:none;
    border-bottom: 1px solid black;
    display:block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width:400px;
}


/* FEUILLE DE STYLE FLUIDE */

#fluide{
  font-family: 'whoismono', 'courier', monospace;
  font-size:15px;
  line-height:100%;
  position:fixed;
  top:0px;
  right:0px;
  width:50%;
  height:100%;	
  background-color:#00ff00;	
  overflow-y:scroll;
}

#fluide .bubble{
  position:absolute;
  padding:50px 50px 75px 50px;
  display:none;
  opacity: 0;
  color:#00ff00;
  width:300px;
  background-image:linear-gradient(black, #00ff00);
  transform-origin: center;
  border-radius:0px;
  line-height: 125%;
}

#fluide .bubble.shown{
  display: block;
}
#fluide .bubble .text{
  height:30px;
}

#fluide .bubble header{	
  padding:2px;	
}

#fluide .bubble footer{	
  padding:2px;
}

#fluide .bubble-link{	
  background-color:yellow;
  color:grey;	
}

#fluide .bubble-img{	
  background-color:#D3D3D3;
  color:black;	
}

#fluide .bubble .comment{
  display:none;
  margin-top:20px;
}

#fluide .bubble .comment textarea{
  width:80%;
  height:90px;
  background:black;
  color:white;
  border:0;
  float:left;
  padding:6px;
}
#fluide .bubble .comment button{
  width:19%;
  height:90px;
  background:black;
  color:white;
  border:0;
  float:right;
}
#fluide .bubble .comment button:hover{
  background:#111;
}


#fluide .bubble.opened .comment{
  display:block;
}

#sommaire .H1{
  margin-left:60px;
  font-size: 23px;
  line-height: 170%;

  color:red;
}

.H1 a{
  color:black;
  cursor:pointer;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.H1 a:hover{
  color:red;
  border-bottom: 2px solid red;
} 

.bubble h3{
  color:#00ff00;
  padding:3px;

}

.bubble h2{
  color:#00ff00;
  padding:3px;
  margin-left:30px;
  margin-top:4px;
}

.bubble p{
  color:#00ff00;
  margin-left:0px;
}

.cadre{
  border:1px #00ff00 solid;
  padding:4px;
}

.cadre:hover{
  border:1px black solid;
  background-color: #00ff00;
}

.bubble .lien-int a{
  position:absolute;
  color:#00ff00;
  text-decoration: none;
  border-bottom: 2px solid #00ff00;
  left:15px;
  top:15px;
}

.bubble .lien-int a:hover{
  color:black;
  border-bottom: 2px solid black;
}

.bubble .modifier a{
  position:absolute;
  color:#00ff00;
  text-decoration: none;
  border-bottom: 2px solid #00ff00;
  right:15px;
  top:15px;
}

.bubble .modifier a:hover{
  color:black;
  border-bottom: 2px solid black;
}

.bubble .discussion a{
  position:absolute;
  color:#00ff00;
  text-decoration: none;
  border-bottom: 2px solid #00ff00;
  left:15px;
  bottom:35px;
  margin-top: 30px;
}

.bubble .discussion a:hover{
  color:black;
  border-bottom: 2px solid black;
}

.bubble .partager a{
  position:absolute;
  color:#00ff00;
  text-decoration: none;
  border-bottom: 2px solid #00ff00;
  right:15px;
  bottom:35px;
  margin-top: 30px;
}

.bubble .partager a:hover{
  color:black;
  border-bottom: 2px solid black;
}

.bubble a{
  color:#00ff00;
  text-decoration: none;
  border-bottom: 2px solid #00ff00;
}

.bubble a:hover{
  color:black;
  border-bottom: 2px solid black;
}

.bubble a {
  font-family: 'whoismono', 'courier', monospace;
  color:#00ff00;
  text-decoration: none;
  cursor:pointer;

}


.bubble#b1{
  width:500px;
}
.bubble#b2{
  width:500px;
}
.bubble#b3{
  width:400px;
}
.bubble#b4{
  width:380px;
}
.bubble#b5{
  width:450px;
}
.bubble#b6{
  width:300px;
}
.bubble#b7{
  width:300px;
}
.bubble#b8{
  width:250px;
}
.bubble#b9{
  width:422px;
}
.bubble#b10{
  width:220px;
}
.bubble#b11{
  width:330px;
}
.bubble#b12{
  width:270px;
}
.bubble#b13{
  width:550px;
}
.bubble#b14{
  width:550px;
}
.bubble#b15{
  width:550px;
}
.bubble#b16{
  width:550px;
}
.bubble#b17{
  width:550px;
}
.bubble#b18{
  width:550px;
}
.bubble#b19{
  width:550px;
}

#fenetre1{
	border: 10px solid #CCC;  
}

/*About*/

#about{
  color:red;
  cursor:pointer;
  text-decoration: none;
  z-index:1000;
  position:fixed;
  top: 10px;
}

#about:hover{
  color:red;
  border-bottom: 2px solid red;
} 


.fenetre{
	left:50%;
	top:10px;
	width:595.276px;
	height:83.5%;
	margin-left:-345px;
	background-color:#FFF;
	position:fixed;
	z-index:400;
	overflow:auto;	
}

.fenetre .croix{
	position: absolute;
	right: 25px;
	top: 20px;
	cursor:pointer;
}


/*PARTAGER*/


.sharepopup{
  background-color:#D3D3D3;
  width:500px;
  height:150px;
  position:fixed;
  padding:30px;
  top:50%;
  left:50%;
  margin-top:-115px;
  margin-left:-250px;
  z-index:1000000;
  text-align:center;
}

.sharepopup input{

  border:0px;
  width:100%;
  
}

.sharepopup button{
  margin:40px;
}


















