/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* COMMUN */


.prev, .next{
  position: fixed;
  bottom:0px;
  z-index: 1000;
  background-color: #f2f2f2;  
  font-size: 20px;
  color:red;
  padding:4px;
}
.prev{
  left:0px;
  width:50%;
  cursor:pointer;
}
.next{
  right:51%;
  cursor:pointer;

}

/* FEUILLE DE STYLE SOLIDE */

#solide .chapitre{
  background-color:#f2f2f2;
  width:50%;
  padding-left:1px;
  padding-right:20px;
  font-size: 20px;
  line-height: 150%;
  font-family: 'linux_libertinesemibold', 'arial';
  padding-top:35px;
  
}

#solide .parts{
  background: #f2f2f2;
}
#solide .chapitre, nav {
  /*	min-height:100vh;*/
}
#solide .chapitre.current {
  display:block;
}

#solide h1, #solide .H1{
  margin-left:0px;
  color:red;
}

#open-source{
  display:none;
}

#solide .parts li {
  display:none;
}

#solide .parts li.H1{
  display:block;
}

#solide h1{
  display:none;
}

#solide .opened *{
  display:none;
}

#solide .opened .parts, #solide .opened .parts li{
  display:block;
}

#solide .parts{
  position:fixed;
  top:0px;
  left:0px;
  padding:4px;
  width:50%;
  cursor:pointer;
}


/*Importe du css-print*/


#solide h2, #solide .H2{ margin-left:30px;
}

#solide h3, #solide .H3{ margin-left:60px;
}

#solide h4, #solide .H4{ margin-left:90px;
}

#solide h5, #solide .H5{ margin-left:120px;
}

aside{ 
    margin-left:180px;
    margin-bottom: 20px;
	font-family: 'whoismono', 'courier', monospace;
    font-size: 18px;
    line-height: 130%;
}

h7{ margin-left:0px;
	font-family: 'whoismono', 'courier', monospace;	
    margin-bottom:0.35cm;
    display:block;
    width: 12cm;
    font-size: 18px;
    line-height: 130%;
}

em{ font-family: 'whoismono', 'courier', monospace;
	margin-bottom:2px;
}

h7 em{
  font-family: 'whoismono', 'courier', monospace;
  font-style:oblique;
}

aside em{
  font-family: 'whoismono', 'courier', monospace;
  font-style:oblique;
}


#solide p{ margin-left:150px;
	text-align:justify;
	orphans:3;
	widows:2;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
    hyphens: auto;
    font-family: 'linux_libertinesemibold', 'arial';
}

img{
    margin-top:5px;
	width:450px;
    display:block;
}

.imgborder{
  border-style: solid;
  border-width: 1px;
  border-color: black;

}

.pagegrise{
    width:100%;
    height:20cm;
  	page-break-after: always;
    page-break-before: always;
}

#extra h2{ 
   padding-top: 15cm;
  display: block;
}

#manifeste p{
    margin-left:0cm;
    border: 1px solid black;
    padding:0.3cm;
    font-size:28px;
  	line-height: 135%;
    text-align: center;
}

#manifeste h2{
    margin-left:0cm;
    margin-bottom:0.5cm;
    padding:0.5cm;
    font-size:28px;
  	line-height: 135%;
    text-align: center;
}


u{
    text-decoration:none;
    border-bottom: 1px solid black;
}


/* FEUILLE DE STYLE FLUIDE */

#fluide{
  font-family: arial, sans-serif;
  position:fixed;
  top:0px;
  right:0px;
  width:50%;
  height:100%;	
  background-color:#00ff00;	
  overflow-y:scroll;
}

#fluide .bubble{
  font-size:18px;
  position:absolute;
  padding:20px;
  padding-bottom:50px;
  display:none;
  opacity: 0;
  color:#00ff00;
  width:300px;
  background-image:linear-gradient(black, #00ff00);
  transform-origin: center;
  border-radius:0px;
}

#fluide .bubble.shown{
  display: block;
}
#fluide .bubble .text{
  height:30px;
}

#fluide .bubble header{	
  padding:2px;
  cursor:pointer;	
}

#fluide .bubble footer{	
  padding:2px;
}


#fluide .bubble-link{	
  background-color:yellow;
  color:grey;	
}

#fluide .bubble-img{	
  background-color:#D3D3D3;
  color:black;	
}

#fluide .bubble .inner{
  display:none;
}

#fluide .bubble.opened .inner{
  display:block;
}














